<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome to blog</title>
</head>
<body>
<div class="wrap">

<h3 class="header">
    <a href="{{.url}}">
        {{.content}}
    </a>
</h3>

<div class="main">

</div>

<div class="nav">
    <div class="wrap-nav">
        <canvas id="con"  width="900" height="600">

        </canvas>
    </div>
</div>

<div class="content">

</div>

</div>

</body>
</html>
<script type="text/javascript">
    var colorarray = ['#c4f2ff', '#dadada', '#baffe7', '#ffd7ba', '#fffdba', '#deffba', '#baffc4', '#bac9ff', '#ffbaeb', '#ffbaba'];
    var c = document.getElementById("con");
    var ctx = c.getContext("2d");

    ctx.beginPath();
    ctx.translate(100, 100);
    ctx.rotate(-Math.PI / 2);
    ctx.save();


    for (var i = 0; i < 60; i += 5) {
        ctx.fillRect(84, -3, 10, 6);
        ctx.rotate(Math.PI / 6);
    }
    ctx.closePath();

    var slen = 60;
    var mlen = 48;
    var hlen = 35;

    var s = 0, m = 0, h = 0;

    function Refresh() {

        var time = new Date();
        s = time.getSeconds();
        m = time.getMinutes();
        h = time.getHours();

        //以下为清除画板内容
        {
            ctx.globalCompositeOperation = "destination-out";
            ctx.strokeStyle = "rgba(250,250,250,0)";
            ctx.beginPath();
            ctx.arc(0, 0, 83, 0, 2 * Math.PI);
            ctx.closePath();
            ctx.fill();
            ctx.globalCompositeOperation = "source-over";
            ctx.restore();
            ctx.save();
        }

        //以下为绘画
        //用扇形来表示秒
        var radialgradient = ctx.createRadialGradient(0, 0, 10, 0, 0, 83);
        radialgradient.addColorStop(0.4, colorarray[m % 10]);
        radialgradient.addColorStop(1, "rgba(250,250,250,0)");
        ctx.fillStyle = radialgradient;
        ctx.beginPath();
        ctx.moveTo(0, 0);
        ctx.arc(0, 0, 82, 0, s * Math.PI / 30, false);
        ctx.closePath();
        ctx.fill();
        ctx.restore();
        ctx.save();
        //画时针
        ctx.fillStyle = '#555555';
        ctx.rotate((h + m / 60) * Math.PI / 6);
        ctx.fillRect(-8, -2, hlen, 4);
        ctx.restore();
        ctx.save();
        //画分针
        ctx.fillStyle = '#555555';
        ctx.rotate((m + s / 60) * Math.PI / 30);
        ctx.fillRect(-10, -1.5, mlen, 3);
        ctx.restore();
        ctx.save();
        ////画秒针
        ctx.rotate(s * Math.PI / 30);
        ctx.fillStyle = 'Black';
        ctx.fillRect(-12, -1, slen, 2);
    }

    var MyInterval = setInterval("Refresh();", 1000);
</script>
<style>
    .wrap {
        text-align: center;
        list-style-type: none;
    }
    .header {
        font-size: 24px;
        margin-top:50px;
    }
    .main {
        width: 50%;
    }
    .nav {
        color: black;
    }.nav .wrap-nav {
        display: inline-block;

        width: 60%;
        height: 40%;
   }
    .content {
        width: 60px;
        height: 80px;
    }
</style>