<form class="layui-form" >
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" value="{{.article.Name}}" name="name" required  lay-verify="required" placeholder="请输入文章名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">顶级分类</label>
            <select name="pid" lay-verify="required" >
                <option value="0" selected>请选择</option>
                <option value="1" selected>请选择</option>
                {{/*{{ range .class}}
                    <option value="{{.ClassId}}" */}}{{/*{{ if eq .ClassId $.classInfo.ClassId}} selected {{end}}*/}}{{/* >{{.Name}}</option>
                {{end}}*/}}
            </select>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" value="{{.article.Sort}}" name="sort" required  lay-verify="required" placeholder="请输入文章名称" autocomplete="off" class="layui-input">
        </div>
    </div>


    <input type="hidden" name="id" value="{{.article.Id}}" >


    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>