
<!-- 配置文件 -->
<script type="text/javascript" src="/resources/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/resources/ueditor/editor_api.js"></script>
<form class="layui-form" >
    <div class="layui-form-item">
        <label class="layui-form-label">文章名称</label>
        <div class="layui-input-block">
            <input type="text" value="{{.article.Name}}" name="name" required  lay-verify="required" placeholder="请输入文章名称" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">一级分类</label>
        <div class="layui-input-block">
            <select name="class_id" lay-verify="required" lay-filter="class">
                <option value="0" selected>请选择</option>
                {{ range .class}}
                <option value="{{.ClassId}}" {{ if eq .ClassId $.classInfo.ClassId}} selected {{end}} >{{.Name}}</option>
                {{end}}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">二级分类</label>
        <div class="layui-input-block">
            <select name="child_id" lay-verify="required" id="child_id">
                <option value="{{.childInfo.ClassId}}" selected>{{.childInfo.Name}}</option>
            </select>
        </div>
    </div>


    <input type="hidden" name="id" value="{{.article.Id}}" >

    <input type="hidden" name="image" value="{{.article.Image}}" id="image">
    <div class="layui-form-item">
        <label class="layui-form-label ">封面图片:</label>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-warm" id="test1">上传图片</button>

            <div class="layui-upload-list">
                <label class="layui-form-label ">
                <img class="layui-upload-img" id="demo1" src="{{.article.Image}}">
                <p id="demoText"></p></label>
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">文章内容</label>
        <div class="layui-input-block">
            <!-- 加载编辑器的容器 -->
            <script id="container" name="content" type="text/plain">{{.article.Content | str2html}}</script>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    //Demo
    layui.use(['form','layer'], function(){
        var form = layui.form;
        layer = layui.layer;
        var ue = UE.getEditor('container',{
            elementPathEnabled:false,
            //默认的编辑区域高度
            initialFrameHeight:300,
            initialFrameWidth: null ,
            autoHeightEnabled: false
        });
    //对编辑器的操作最好在编辑器ready之后再做
        ue.ready(function(){
            //设置编辑器的内容
            //获取html内容，返回: <p>hello</p>
            var html = ue.getContent();
            //获取纯文本内容，返回: hello
            var txt = ue.getContentTxt();
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            console.log(JSON.stringify(data.field));
            data.field.des =  ue.getContent();
            $.ajax({
                url: "/admin/article/save",
                type: 'POST',
                data: data.field,
                async: false,
                dataType: 'json',
                success: function (data) {
                    if (data.code == 200) {
                        layer.open({
                            type: 0,
                            area: ['300px', '180px'],
                            title: '恭喜您，操作成功！',
                            content: '您已成功添加新的产品！',
                            btn: ['继续添加', '完成'],
                            yes: function(index, layero) {
                                window.location.href = "/admin/article-add"
                            },
                            btn2: function(index, layero) {
                                window.location.href = "/admin/article-index"
                            }
                        });
                    }else {
                        layer.msg('添加失败',{icon: 5},{
                            time: 2000
                        }, function() {});
                    }
                },
                error:function(data){
                    layer.msg('添加失败',{icon: 5},{
                        time: 2000
                    }, function() {});
                }
            });
            return false;
        });
        //二级联动
        form.on('select(class)', function (data) {
            //alert(data.value);
            $.ajax({
                url: "/admin/class-child" , //请求地址
                type: "POST" , //请求方式
                dataType:  "JSON" , //返回数据类型
                data: {id:data.value}, //发送的参数
                success: function (res){
                    console.log(res.data)
                    if (res.code == 200) {
                        $( '#child_id option').hide();
                        var  proHtml =  '' ;
                        for ( var  o  in  res.data){
                            proHtml +=  '<option value="'  + res.data[o].class_id +   '">'  + res.data[o].class_name +  '</option>' ;
                        }
                        $( '#child_id' ).html(proHtml);
                        form.render();
                    }else {
                        alert(res.msg);
                    }
                },
                error: function (){
                    //失败执行的方法
                    alert( "error" );
                }
            })
        });
    });
</script>
<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/admin/upload-image'
            ,accept:'images'
            ,size:50000
            ,before: function(obj){
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code != 200){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');

                var fileupload = $("#image").val(res.src);
                /*fileupload.attr("value",res.data);
                console.log(fileupload.attr("value"));*/
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>