{{template "home/header.tpl" .}}
<style>
    .content{max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .layui-card-header{
        height: 80%;
    }
    .main-top {height: 40px;line-height: 40px;}
    .article{padding-right: 10px;}
    .article img{height: 120px;width: 180px;}
    .fl{float: left;}
    .fr{float: right;}
</style>
<div>

    <div class="content main">

        <div class="layui-carousel" id="banner">
            <div carousel-item>
                <img class="banner_pic" src="{{.banner}}" alt="banner" width="100%">
                <img class="banner_pic" src="{{.banner}}" alt="banner" width="100%">
                <div>条目5条目5条目5条目5条目5条目5条目5条目5条目5条目5条目5条目5条目5</div>
            </div>
        </div>
        <div class="top30"></div>
            <div class="layui-row layui-col-space10">
                <div class="layui-col-xs6 layui-col-md8">
                    <!-- 填充内容 -->
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body">433333333333333333333333333</div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">12212121</div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">21221</div>212121
                        <div class="layui-card-body">122121</div>122121
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">

                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            v                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
                <div class="layui-col-xs12 layui-col-md4">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                            2121212韦尔12121212韦尔12
                            121212韦尔12121212韦尔12121212韦尔12121212韦尔12121212韦尔1
                        </div>
                        <div class="layui-card-body"></div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="layui-card">
                <div class="layui-card-body">
                    <pre class="layui-code">
                    //代码区域
                    var a = 'hello layui';
                    </pre>
                </div>
            </div>
    </div>
</div>
{{template "home/footer.tpl" }}
<script type="text/javascript" src="/resources/layui/layui.all.js?v=6" ></script>
<script type="text/javascript" src="/resources/jquery-3.3.1/jquery-3.3.1.min.js" ></script>
<script type="text/javascript">
    var form, layer, upload, $;
    //实例化layui对象
    form = layui.form;
    layer = layui.layer;
    upload = layui.upload;
    $ = layui.$;
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banner'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>