{{template "home/header.tpl" .}}
<style>
    .content{max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .main-top {height: 40px;line-height: 40px;}
    .article{padding-right: 10px;}
    .article img{height: 120px;width: 180px;}
    .fl{float: left;}
    .fr{float: right;}
</style>
<div>
    <div class="content main">
        <div class="main-top">
            <em>外语/小语种</em>
            <span>
                <a class="on" href="http://www.kf01.com/yasi/" title="雅思">雅思</a>
                <a class="" href="http://www.kf01.com/tuofu/" title="托福">托福</a>
                <a class="" href="http://www.kf01.com/sat/" title="SAT">SAT</a>
            </span>
        </div>

        <div class="course">
            <!--课程-->
            <div class="fl article">
                <div class="pic">
                    <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                        <img src="//image.baijiao.org/diy_20201009081831_99850.jpg" width="100%" alt="合肥唯寻国际教育">
                    </a>
                </div>
                <div class="courseHover">
                    <div class="courseInfo">
                        <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                            A-Level课程全日制培训班
                        </a>
                    </div>
                </div>
            </div>
            <div class="fl article">
                <div class="pic">
                    <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                        <img src="//image.baijiao.org/diy_20201009081831_99850.jpg" width="100%" alt="合肥唯寻国际教育">
                    </a>
                </div>
                <div class="courseHover">
                    <div class="courseInfo">
                        <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                            A-Level课程全日制培训班
                        </a>
                    </div>
                </div>
            </div>
            <div class="fl article">
                <div class="pic">
                    <a href="http://www.kf01.com/school/NanJingQuanOuXiaoYuZhong/course/44079.html" title="德语A1—C1直达班">
                        <img src="//image.baijiao.org/diy_20200922095950_15471.jpg" width="100%" alt="南京全欧小语种">
                    </a>
                </div>
                <div class="courseHover">
                    <div class="courseInfo">
                        <a href="http://www.kf01.com/school/NanJingQuanOuXiaoYuZhong/course/44079.html" title="德语A1—C1直达班">
                            德语A1—C1直达班    </a>
                    </div>
                    <div class="courseInfo1">
                        <a href="http://www.kf01.com/school/NanJingQuanOuXiaoYuZhong/" title="南京全欧小语种">南京全欧小语种</a></div>
                    <div class="vab">
                        <span class="price">￥<em><a rel="nofollow">咨询</a></em></span>
                        <a href="http://www.kf01.com/school/NanJingQuanOuXiaoYuZhong/campus.html" title="校区" rel="nofollow">
<span>校区<span>1</span>
</span>
                        </a> &nbsp;<span>已售<span>23</span> </span> </div>
                </div>
            </div>
            <div class="fl article">
                <div class="pic">
                    <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                        <img src="//image.baijiao.org/diy_20201009081831_99850.jpg" width="100%" alt="合肥唯寻国际教育">
                    </a>
                </div>
                <div class="courseHover">
                    <div class="courseInfo">
                        <a href="http://www.kf01.com/school/hefeiweixunguojijiaoyu/course/44546.html" title="A-Level课程全日制培训班">
                            A-Level课程全日制培训班
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{{template "home/footer.tpl" }}