{{template "home/header.tpl" .}}
<style>
    .content{max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
    .layui-card-header{
        height: 80%;
    }
    .main-top {height: 40px;line-height: 40px;}
    .article{padding-right: 10px;}
    .article img{height: 120px;width: 180px;}
    .list_right{
        position: relative;
        top: 0;
        float: right;
        width: 28%;
    }
    .list_left {
        width: 70%;
        float: left;
        padding-bottom: 10px;
    }
</style>
<div>

    <div class="content main">
        <!--banner-->
        <div class="layui-carousel" id="banner">
            <div carousel-item>
                <img class="banner_pic" src="{{.banner}}" alt="banner" width="100%">
                <img class="banner_pic" src="{{.home_banner}}" alt="banner" width="100%">
                <img class="banner_pic" src="{{.banner}}" alt="banner" width="100%">
                <img class="banner_pic" src="{{.home_banner}}" alt="banner" width="100%">
            </div>
        </div>
        <div class="top30"></div>
        <!--分类文章-->
        <div class="list_left">
        <div class="layui-row layui-col-space9">
                {{range .class}}
                <div class="layui-col-xs8 layui-col-md12">
                    <!-- 填充内容 -->
                    <div class="layui-card">
                        <div class="layui-card-header">
                            {{.Name}}
                            {{range .Children}}
                            {{.Name}}
                            {{end}}
                        </div>
                        <div class="layui-card-body">

                            <p>
                                幸福，幸福，幸福，幸福，幸福，
                            </p>
                        </div>
                    </div>
                </div>
                {{end}}
        </div>
        </div>
        <!--fr 右侧-->
        <div class="list_right">
            <div class="layui-card">
                <div class="layui-card-body">
                    <p>
                        幸福，幸福，幸福，幸福，幸福，
                    </p>
                    <p>
                        幸福，幸福，幸福，幸福，幸福，
                    </p>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <!--fr 底部-->
        <div class="top30"></div>
        <div class="layui-card">
            <div class="layui-card-body">
                <pre class="layui-code">
                //代码区域
                var a = 'hello layui';
                </pre>
            </div>
        </div>
    </div>
</div>
{{template "home/footer.tpl" }}
<script type="text/javascript" src="/resources/layui/layui.all.js?v=6" ></script>
<script type="text/javascript" src="/resources/jquery-3.3.1/jquery-3.3.1.min.js" ></script>
<script type="text/javascript">
    var form, layer, upload, $;
    //实例化layui对象
    form = layui.form;
    layer = layui.layer;
    upload = layui.upload;
    $ = layui.$;
    layui.use('carousel', function(){
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#banner'
            ,width: '100%' //设置容器宽度
            ,arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>