<!--------------Footer--------------->
<footer>
    <div class="wrap-footer">
        <div class="row">
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>Image Gallery</h2></div>
                        <div class="content gallery">
                            <a href="#"><img src="/resources/home/images/img1.jpg" width="120"/></a>
                            <a href="#"><img src="/resources/home/images/img2.jpg" width="120"/></a>
                            <a href="#"><img src="/resources/home/images/img3.jpg" width="120"/></a>
                            <a href="#"><img src="/resources/home/images/img4.jpg" width="120"/></a>
                            <a href="#"><img src="/resources/home/images/img5.jpg" width="120"/></a>
                            <a href="#"><img src="/resources/home/images/img1.jpg" width="120"/></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>About Us</h2></div>
                        <div class="content">
                            <a href="http://www.tfuu.cn" target="_blank"><img src="/resources/home/images/logo.png" style="border: 0px;"/></a>
                            <p><a href="http://www.tfuu.cn" target="_blank">Free Html5 Templates</a> created by <a href="http://www.tfuu.cn">chinaz</a>. You can use and modify the template for both personal and commercial use. You must keep all copyright information and credit links in the template and associated files.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1-3">
                <div class="wrap-col">
                    <div class="box">
                        <div class="heading"><h2>Contact Us</h2></div>
                        <div class="content">
                            <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
                            <p>Website : <a href="http://www.tfuu.cn" target="_blank">www.tfuu.cn</a></p>
                            <p>+1 (123) 444-5677 <br/> +1 (123) 444-5678</p>
                            <p>Address: 123 TemplateAccess Rd1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">

        <p>
            <img style="width: 20px; height: 20px;" src="http://www.beian.gov.cn/img/ghs.png" alt="备案标识">
            <a href="http://www.beian.miit.gov.cn" target="_blank" rel="nofollow" title="域名信息备案管理系统">吉ICP备19000330号</a>
            &copy;&copy;&copy;&copy;&copy;&copy;&copy;
            <a style="padding-left: 30px;"  target="_blank" href="http://www.tfuu.cn/">&copy; Copyright &copy; 2014.Company name All rights reserved.
            </a>
        </p>

    </div>
</footer>