<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<title>go</title>
	<meta name="description" content="blog">
	<meta name="author" content="www.tfuu.cn">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/resources/home/css/style.css">
</head>
<body>
<div class="wrap-body">

<!--------------Header--------------->
<header>
	<div class="wrap-header">
		<div>
			<nav class="wrap-nav">
				<ul>
					<li><a href="/blog/index">PHP</a></li>
					<li><a href="/blog/detail">GO</a></li>
					<li><a href="/blog/index">JAVA</a></li>
					<li><a href="/blog/index">C++</a></li>
					<li><a href="#">PYTHON</a></li>
				</ul>
			</nav>
		</div>

	</div>
</header>

<!--------------Content--------------->
<div class="container">
	<div class="menu">
			{{range .data}}
			<article>
				<div class="title">
					<h2><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></h2>
				</div>
				<div class="content">
					<p> <img src="{{.Image}}" width="250px" height="100px"/></p>
					<p> {{.Content}}</p>

				</div>
				<div class="info">
					<p>{{.CreatedAt}}<a href="#"></a></p>
				</div>
			</article>
			{{end}}
	</div>
	<div class="menu-right">
		<div class="gg">
			{{range .data}}
						<p><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></p>
			{{end}}
		</div>
	</div>
</div>
</div>
</body>
</html>
<style>
	.wrap-header {
		width: 100%;
		height: 60px;
		background: #00FF00;
		text-align: center;
	}
	.wrap-header .wrap-nav ul{
		text-align: center;
	}
	.wrap-header .wrap-nav ul li {
		float: left;
		height: 60px;
		line-height: 60px;
		padding-left: 40px;
	}

</style>

