<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>blog</title>
	<meta name="description" content="blog">
	<meta name="author" content="www.tfuu.cn">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="/resources/home/css/style.css">
</head>
<body>
<div class="wrap-body">
	<top>
			<h1>blog</h1>
	</top>
<!--------------Header--------------->
<header>
	<div class="wrap-header">
	<div>
		<nav>
			<div class="wrap-nav">
				<div class="menu">
					<ul>
						<li><a href="/blog/index">PHP</a></li>
						<li><a href="/blog/detail">GO</a></li>
						<li><a href="/blog/index">JAVA</a></li>
						<li><a href="/blog/index">C++</a></li>
						<li><a href="#">PYTHON</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>

	</div>
</header>

<!--------------Content--------------->
<div class="container">
	<div class="menu">
		<div class="menu-top">
			<nav class="TopstoryTabs Topstory-tabs">
				<a  href="/">推荐</a>
				<a href="/blog/index">关注</a>
				<a href="/blog/detail">热榜</a>
			</nav>
		</div>
		<div class="menu-content">
			{{range .data}}
			<article>
				<div class="title">
					<h2><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></h2>
				</div>
				<div class="content">
					<p> <img src="{{.Image}}" width="250px" height="100px"/></p>
					<p> {{.Content}}</p>

				</div>
				<div class="info">
					<p>{{.CreatedAt}}<a href="#"></a></p>
				</div>
			</article>
			{{end}}
		</div>
	</div>
	<div class="menu-right">
		<div class="gg">
			{{range .data}}
						<p><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></p>
			{{end}}
		</div>
	</div>
</div>
</div>
</body>
</html>

