<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/resources/home/css/style.css">
	<link rel="stylesheet" type="text/css" href="/resources/home/css/wallpaper.css">
    <link rel="stylesheet" href="/resources/layui/css/layui.css?v=5">
    <title>技匠精神</title>
</head>
<body style="background-color:#e0e3ed;">
<style>
	.ikz-nav-item{
		display: flex;
		align-items: center;
	}
	.ikz-nav-item-detail{
		display: flex;
	}
	.ikz-nav-item a{
		margin-right: 16px;
	}
	.ikz-nav-item i{
		font-size: 22px;
		font-weight: 500;
	}
</style>

		<!-- 头部 开始 -->
		<div class="layui-header header trans_3">
			<div class="main index_main">
				<a class="logo" href="/"><img src="/resources/1.jpg" alt="老张博客-一个PHP程序员的个人博客网站"></a>
				<ul class="layui-nav" lay-filter="top_nav">
					<li class="layui-nav-item home">
						<a href="/">首页</a>
					</li>
					<li class="layui-nav-item">
						<a href="/blog/index">学无止境</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/blog/index">杂谈</a>
							</dd>
							<dd>
								<a href="/blog/index">PHP</a>
							</dd>
							<dd>
								<a href="/blog/index">建站</a>
							</dd>
							<dd>
								<a href="/blog/index">WEB前端</a>
							</dd>
							<dd>
								<a href="/blog/index">LzCMS</a>
							</dd>
							<dd>
								<a href="/blog/index">Python</a>
							</dd>
							<dd>
								<a href="/blog/index">微信小程序</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="/download-index/2.html">分享无价</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/download-lists/13.html">源码分享</a>
							</dd>
							<dd>
								<a href="/download-lists/14.html">jQuery特效</a>
							</dd>
							<dd>
								<a href="/download-lists/18.html">软件工具</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="/link-lists/3.html">日记</a>
					</li>
					<li class="layui-nav-item">
						<a href="/page/5.html">关于</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/page/5.html">关于老张</a>
							</dd>
							<dd>
								<a href="/page/6.html">关于LzCMS</a>
							</dd>
							<dd>
								<a href="http://www.phplaozhang.com/feedback.html">留言</a>
							</dd>
						</dl>
					</li>
				</ul>
				<div class="title">老张博客</div>
				<form action="/search.html" mothod="post" class="head_search trans_3 layui-form">
					<div class="layui-form-item trans_3">
						<span class="close trans_3"><i class="layui-icon">&#x1006;</i> </span>
						<div class="layui-input-inline trans_3">
							<select name="model_id">
								<option value="2" selected>文章模型</option>
								<option value="3">图集模型</option>
								<option value="5">下载模型</option>
							</select>
						</div>
						<input type="text" name="keywords" placeholder="搜索" autocomplete="off" class="search_input trans_3">
						<button class="layui-btn" lay-submit="" style="display: none;"></button>
					</div>

				</form>
			</div>
		</div>
		<div class="header_back"></div>
		<!-- 头部 结束 -->
		<!-- 左边导航 开始 -->
		<div class="layui-side layui-bg-black left_nav trans_2">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree" lay-filter="left_nav">
					<li class="layui-nav-item home">
						<a href="/">首页</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">学无止境</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/article-lists/8.html">杂谈</a>
							</dd>
							<dd>
								<a href="/article-lists/9.html">PHP</a>
							</dd>
							<dd>
								<a href="/article-lists/10.html">建站</a>
							</dd>
							<dd>
								<a href="/article-lists/11.html">WEB前端</a>
							</dd>
							<dd>
								<a href="/article-lists/15.html">LzCMS</a>
							</dd>
							<dd>
								<a href="/article-lists/16.html">Python</a>
							</dd>
							<dd>
								<a href="/article-lists/17.html">微信小程序</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">分享无价</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/download-lists/13.html">源码分享</a>
							</dd>
							<dd>
								<a href="/download-lists/14.html">jQuery特效</a>
							</dd>
							<dd>
								<a href="/download-lists/18.html">软件工具</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="/link-lists/3.html">日记</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">关于</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/page/5.html">关于老张</a>
							</dd>
							<dd>
								<a href="/page/6.html">关于LzCMS</a>
							</dd>
							<dd>
								<a href="http://www.phplaozhang.com/feedback.html">留言</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
		<div class="left_nav_mask"></div>
		<div class="left_nav_btn"><i class="layui-icon">&#xe602;</i></div>
		<!-- 左边导航 结束 -->
		<!-- banner 开始 -->
		<div class="banner" style="background:#393D49">
			<div class="main index_main">
				<img class="banner_pic" src="/resources/new.jpg" alt="banner">
			</div>
		</div>
		<div class="fill_1"></div>
		<div class="main index_main">
			<ul class="index-learn">
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>业精于勤</legend>
						<p>“业精于勤荒于嬉”，精深的业技靠的是勤学、刻苦努力，靠的是争分夺秒的勤学苦练才会有精深的技术。得在认真，失在随便。</p>
					</fieldset>
				</li>
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>学无止境</legend>
						<p>学习，探索，研究，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识。由浅入深，由表及里。</p>
					</fieldset>
				</li>
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>工匠精神</legend>
						<p>精益求精，注重细节，追求完美和极致，不惜花费时间精力，孜孜不倦，反复改进产品，把99%提高到99.99%。</p>
					</fieldset>
				</li>
			</ul>
		</div>
		<div class="main index_main lzcms_banner">
			<a href="http://www.lzcms.top" target="_blank"><img src="/template/laozhang/static/images/lzcms_banner.png" alt="banner"></a>
		</div>
		<!-- 文章 开始 -->
		<div class="main index_main">
			<div class="page_left">
				<ul class="page_left_list">
					{{range .data}}
					<li class="no_pic">
						<h2 class="title"><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></h2>
						<div class="date_hits">
							<span>{{.CreatedAt}}</span>
							<span><a href="/article-lists/11.html">{{.Name}}</a></span>
							<span class="hits"><i class="layui-icon" title="点击量">&#xe62c;</i> 2333 ℃</span>
							<p class="commonts"><i class="layui-icon" title="点击量">&#xe63a;</i>
								<span id="sourceId::1196" class="cy_cmt_count"></span>
							</p>
						</div>
						<div class="desc">{{.Content}}</div>
					</li>
					{{end}}
				</ul>
			</div>
			<div class="page_right">
				<div class="about_stationmaster_container">
					<h3>博主信息</h3>
					<ol class="page_right_list trans_3">
						<li>姓名：张丹峰</li>
						<li>职业：PHP程序猿、WEB前端</li>
						<li>座右铭：业精于勤、学无止境、工匠精神</li>
						<li>QQ 1群：602099721（已满）
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=9e3d8ac1ba7022b4cc6a492c7645e0198a06afbde7e6d55cab5ca5dbbac5c186"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="老张博客-Lz-CMS交流群" title="老张博客-Lz-CMS交流群"></a>
						</li>
						<li>QQ 2群：594118266
							<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=772c4c3e46255322d8a9f00bcba1ea1709a3e90b597f9367ac75d2c06579e7e8"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="LzCMS交流群" title="LzCMS交流群"></a>
						</li>
					</ol>
				</div>
				<div class="new_list">
					<h3>实用小工具</h3>
					<ol class="page_right_list trans_3 index_notice">
						<li>
							<a href="http://www.phplaozhang.com/index/tool/short_url">短网址生成</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/qrcode">二维码生成</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/timestamp">时间戳在线转换</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/md5_sha1">MD5、SHA1在线加密</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/unicode">Unicode编码转换</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/urlencode_urldecode">urlencode编码/urldecode解码</a>
						</li>
					</ol>
				</div>
				<div class="new_list">
					<h3>温馨通道</h3>
					<ol class="page_right_list trans_3 index_notice">
						<li>
							<a href="http://bingimage.phplaozhang.com/" target="_blank">必应壁纸，精彩每一天！</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/article/57.html">在IE下上传图片/文件提示下载问题解决办法</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/article/54.html">安装出现重定向次数过多，过多重定向解决办法</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/article/60.html">安装提示 找不到install/index.html</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/article/29.html">No input file specified的解决方法</a>
						</li>
					</ol>
				</div>
				<a target="_blank" href="http://bingimage.phplaozhang.com/">
					<div class="page_right_list trans_3 bingimage" style="padding:0;position: relative;display: none;">
						<img src="" style="width: 100%;">
						<p style="position: absolute;bottom:0;left:0;right:0;line-height: 24px;background:rgba(0,0,0,0.5);padding:5px 10px;font-size:12px;color:#fff;"></p>
					</div>
				</a>
				<script type="text/javascript">
					$.get("/index/index/get_bingimage.html", {}, function(ret) {
						if(ret.code == 200) {
							$('.bingimage').show()
							$('.bingimage img').attr('src', ret.data.thumb);
							$('.bingimage p').html('【必应壁纸】' + ret.data.title);
						}
					})
				</script>
				<div style="padding:0;background: #fff;">
					<style type="text/css">
						.layui-tab-title .layui-this:after {
							border-color: #009688;
							border-bottom-color: #fff;
						}
						
						.layui-tab-title .layui-this {
							color: #009688;
						}
					</style>
					<div class="layui-tab">
						<ul class="layui-tab-title" style="border-color: #009688">
							<li class="layui-this">微信</li>
							<li>支付宝</li>
							<div style="font-size: 14px;position: relative;line-height: 40px;min-width: 65px;padding: 0 10px;float:right;">打赏老张</div>
							<p style="font-size: 10px;position: relative;line-height: 40px;color:#666;float:right;">(请备注称呼)</p>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<img style="width:100%;" src="/template/laozhang/static/images/dashang_weixin.jpg" alt="微信打赏">
							</div>
							<div class="layui-tab-item">
								<img style="width:100%;" src="/template/laozhang/static/images/dashang_zhifubao.jpg" alt="支付宝打赏">
							</div>
						</div>
					</div>
					<div>
						<ol class="page_right_list trans_3" style="padding:0 20px 10px">
							<li style="list-style: none">
								<a href="javascript:void(0)">薛大大室内设计师</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 300元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">冉冉</a><span class="hits" style="float: right;color: #000;font-size: 14px;">支付宝 200元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">冉冉</a><span class="hits" style="float: right;color: #000;font-size: 14px;">支付宝 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">未知</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">天空网站</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">罗密欧</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 5元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">eekkek</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 5元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">乌丹胖哥</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.66元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">L*e</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">薛大大室内设计师</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">克鲁克山</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 66元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">克鲁克山</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 88元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">卡*a</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">A*m</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">小帅</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 6.66元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*待</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*盟</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">o*d</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*瘦</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">o*欢</a><span class="hits" style="float: right;color: #000;font-size: 14px;">支付宝 0.1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">。*h</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*曦</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 1元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">唐逗逗</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">A*c</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*医</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">范范</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">刘小哥</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 0.01元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*举</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 50元</span></li>
							<li style="list-style: none">
								<a href="javascript:void(0)">*草</a><span class="hits" style="float: right;color: #000;font-size: 14px;">微信 1元</span></li>
						</ol>
					</div>
				</div>
				<!-- <div class="mobile_qrcode_container">
			<h3>名片帮小程序</h3>
			<div class="mobile_qrcode wechat_qrcode trans_3">
				<img src="/template/laozhang/static/images/mingpianbang.jpg" alt="名片帮小程序">
			</div>
		</div> -->
				<!-- <a target="_blank" href="http://video.lzcms.top"><div class="page_right_list trans_3 ad_block"><img src="/template/laozhang/static/images/yingyuan_ad.png" alt="老张影院"></div></a> -->

				<!-- <div class="mobile_qrcode_container">
			<h3>老张博客小程序</h3>
			<div class="mobile_qrcode wechat_qrcode trans_3">
				<img src="/template/laozhang/static/images/xiaochengxu.jpg" alt="小程序">
			</div>
		</div>	 -->

				<div class="hot_list">
					<h3>最近热文</h3>
					<ol class="page_right_list trans_3">
						<li>
							<a href="/article/82.html">Fiddler5.0汉化中文版，Fiddler5.0下载</a><span class="hits"> 13281 ℃ </span></li>
						<li>
							<a href="/article/23.html">一波程序员表情包</a><span class="hits"> 11080 ℃ </span></li>
						<li>
							<a href="/article/33.html">老张博客小程序上线了</a><span class="hits"> 8104 ℃ </span></li>
						<li>
							<a href="/article/78.html">禁用opcache缓存,关闭PHP缓存，关闭服务器缓存</a><span class="hits"> 7950 ℃ </span></li>
						<li>
							<a href="/article/5.html">个人博客应该选择什么样的域名和域名后缀</a><span class="hits"> 7739 ℃ </span></li>
						<li>
							<a href="/article/81.html">LzCMS-博客版 v1.1.5 更新</a><span class="hits"> 7413 ℃ </span></li>
						<li>
							<a href="/article/61.html">LzCMS-博客版 手动安装方法</a><span class="hits"> 6897 ℃ </span></li>
						<li>
							<a href="/article/60.html">LzCMS 安装提示404 找不到install/index.html</a><span class="hits"> 6580 ℃ </span></li>
						<li>
							<a href="/article/58.html">LzCMS-博客版 v1.1.4 更新</a><span class="hits"> 6317 ℃ </span></li>
						<li>
							<a href="/article/8.html">Fatal error: Allowed memory size of 134217728 bytes exhausted (tried to allocate 63492668 bytes) in </a><span class="hits"> 6134 ℃ </span></li>
					</ol>
				</div>

				<h3>友情连接</h3>
				<div class="links trans_3">
					<a href="http://daohang.lusongsong.com" target="_blank">博客大全</a>
					<a href="http://www.jb51.net/" target="_blank">脚本之家下载</a>
				</div>
				<div>
					<h3>微博点赞</h3>
					<ol class="page_right_list trans_3 weibozujian">
						<wb:like appkey="4KjlJ0"></wb:like>
					</ol>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 文章 结束 -->
		<script id="cy_cmt_num" src="//changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysMsLdOg"></script>
		<!-- 畅言评论数获取js -->
		<!-- 底部 开始 -->
		<ul class="layui-fixbar">

			<li id="fixbar_avatar" class="hidden"><img src="" alt="头像">
				<div class="fixbar_member_info trans_3"><span id="logout_btn">退了</span></div>
			</li>
			<li class="layui-icon qr_code">&#xe63b;<img class="qr_code_pic" src="/template/laozhang/static/images/wechat_qrcode.jpg" alt="微信公众号二维码"></li>
			<li class="layui-icon layui-fixbar-top" id="to_top">&#xe604;</li>
		</ul>
		<div class="layui-footer footer">
			<div class="main index_main">
				<p>老张博客 ©
					<a class="site_url" href="http://www.phplaozhang.com">phplaozhang.com</a>
				</p>
				<p>
					<a href="/Sitemap.xml">网站地图</a>
				</p>
				<p class="beian">
					<a class="gongan" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41019702002232"><img src="/template/laozhang/static/images/gonganbeian.png" alt="豫公网安备 41019702002232号">豫公网安备 41019702002232号</a>
					<a class="icp" target="_blank" href="http://www.beian.miit.gov.cn">豫ICP备16031090号-1</a>
				</p>
			</div>
		</div>
		<!-- 底部 结束 -->
		<!--<script type="text/javascript" charset="utf-8">
$(function() {
    $("img.lazy").lazyload({effect: "fadeIn"});
});
</script>-->
<script>
	var param = '{$param}';
</script>
<script type="text/javascript" src="/resources/layui/layui.all.js?v=6" ></script>
</body>
</html>
		
		<script type="text/javascript">
			var form, layer, upload, $;
			//实例化layui对象
			form = layui.form;
			layer = layui.layer;
			upload = layui.upload;
			$ = layui.$;
			//左边导航点击显示
			$('.left_nav_btn').click(function() {
				$('.left_nav_mask').show();
				$('.left_nav').addClass('left_nav_show');
			});
			//左边导航点击消失
			$('.left_nav_mask').click(function() {
				$('.left_nav').removeClass('left_nav_show');
				$('.left_nav_mask').hide();
			});

			//搜索框特效
			$('.header .head_search .search_input').focus(function() {
				$('.header .head_search').addClass('focus');
				$(this).attr('placeholder', '输入关键词搜索');
			});
			/*$(document).click(function(){
				$('.header .head_search').removeClass('focus');
				$('.header .head_search .search_input').attr('placeholder','搜索');
			});
			$('.header .head_search').click(function(e){
				$(this).addClass('focus');
				e.stopPropagation(); 
			});*/
			$('.header .head_search .close').click(function() {
				$('.header .head_search').removeClass('focus');
				$('.header .head_search .search_input').attr('placeholder', '搜索');
			});
			//底部会员头像
			$('#fixbar_avatar').click(function() {
				if($('#fixbar_avatar .fixbar_member_info').is(":visible")) {
					$('#fixbar_avatar .fixbar_member_info').hide().css({
						'opacity': 0,
						'right': '70px'
					});

				} else {
					$('#fixbar_avatar .fixbar_member_info').show().animate({
						'opacity': 1,
						'right': '50px'
					}, 50);
				}
			});
			$('#fixbar_avatar').hover(function() {
				$('#fixbar_avatar .fixbar_member_info').show().animate({
					'opacity': 1,
					'right': '50px'
				}, 50);
			}, function() {
				$('#fixbar_avatar .fixbar_member_info').hide().css({
					'opacity': 0,
					'right': '70px'
				});
			});
			//退出登陆 
			$("#fixbar_avatar").on('click', '#logout_btn', function() {
				loading = layer.load(2, {
					shade: [0.2, '#000'] //0.2透明度的白色背景
				});
				$.post('/index/member/logout.html', function(data) {
					if(data.code == 200) {
						layer.close(loading);
						layer.msg(data.msg, {
							icon: 1,
							time: 1000
						}, function() {
							$('#fixbar_avatar').hide()
							//location.reload();//do something
						});
					} else {
						layer.close(loading);
						layer.msg(data.msg, {
							icon: 2,
							anim: 6,
							time: 1000
						});
					}
				});
			});
			//回到顶部
			$("#to_top").click(function() {
				$("html,body").animate({
					scrollTop: 0
				}, 200);
			});
			$(document).scroll(function() {
				var scroll_top = $(document).scrollTop();
				if(scroll_top > 500) {
					$("#to_top").show();
				} else {
					$("#to_top").hide();
				}
			});
			//底部版权始终在底部 
			/*var win_height = $(window).height();
			var body_height = $('body').height();  
			var footer_height = $('.footer').height();
			if(body_height - win_height < 0){
				$('.footer').addClass('footer_fixed');
			} */
		</script>
