{{template "home/header.tpl" .}}
		<div class="header_back"></div>
		<!-- 头部 结束 -->
		<!-- 左边导航 开始 -->
		{{/*<div class="layui-side layui-bg-black left_nav trans_2">
			<div class="layui-side-scroll">
				<ul class="layui-nav layui-nav-tree" lay-filter="left_nav">
					<li class="layui-nav-item home">
						<a href="/">首页</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">学无止境</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/article-lists/8.html">杂谈</a>
							</dd>
							<dd>
								<a href="/article-lists/9.html">PHP</a>
							</dd>
							<dd>
								<a href="/article-lists/10.html">建站</a>
							</dd>
							<dd>
								<a href="/article-lists/11.html">WEB前端</a>
							</dd>
							<dd>
								<a href="/article-lists/15.html">LzCMS</a>
							</dd>
							<dd>
								<a href="/article-lists/16.html">Python</a>
							</dd>
							<dd>
								<a href="/article-lists/17.html">微信小程序</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">分享无价</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/download-lists/13.html">源码分享</a>
							</dd>
							<dd>
								<a href="/download-lists/14.html">jQuery特效</a>
							</dd>
							<dd>
								<a href="/download-lists/18.html">软件工具</a>
							</dd>
						</dl>
					</li>
					<li class="layui-nav-item">
						<a href="/link-lists/3.html">日记</a>
					</li>
					<li class="layui-nav-item">
						<a href="javascript:void();">关于</a>
						<dl class="layui-nav-child">
							<!-- 二级菜单 -->
							<dd>
								<a href="/page/6.html">关于LzCMS</a>
							</dd>
							<dd>
								<a href="http://www.phplaozhang.com/feedback.html">留言</a>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>*/}}
		<div class="left_nav_mask"></div>
		<div class="left_nav_btn"><i class="layui-icon">&#xe602;</i></div>
		<!-- 左边导航 结束 -->
		<!-- 面包屑导航 开始 -->
		<div class="main breadcrumb_nav trans_3">
			<span class="layui-breadcrumb" lay-separator="—">
	  			<a href="/">首页</a>
				<a href="/article-index/1.html">学无止境</a>
				<a href="/article-lists/11.html">WEB前端</a>
				<a><cite>{{.data.Name}}</cite></a>
			</span>
		</div>
		<!-- 面包屑导航 结束 -->
		<!-- 文章 开始 -->
		<div class="main">
			<div class="page_left">
				<div class="detail_container trans_3">
					<h1>{{.data.Name}}</h1>
					<div class="date_hits"><span><i>发布时间：</i>{{.data.CreatedAt}}</span><span>
							<i>热度：</i>{{.data.Click}}</span><span><i>评论数：{{.data.Click}}</i>
							<a href="#SOHUCS" id="changyan_count_unit"></a>
						</span></div>
					<div class="content">
						<div class="postTitle" style="box-sizing: border-box; font-size: 14.7px; font-weight: bold; margin-bottom: 10px; color: rgb(75, 75, 75); font-family: Verdana, Arial, Helvetica, sans-serif; white-space: normal;">
							<h1 style="margin-top: 10px; margin-bottom: 10px; font-size: 14.7px; color: rgb(102, 102, 102); box-sizing: border-box; font-weight: bold;"><br/></h1></div>
						<div id="cnblogs_post_body" class="blogpost-body" style="box-sizing: border-box; margin-bottom: 20px; word-break: break-word; color: rgb(75, 75, 75); font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; white-space: normal;">
							<div style="box-sizing: border-box;">
								<p style="box-sizing: border-box; margin: 10px auto;">{{.data.Content | str2html}}</p>
								</div>
						</div>
						<p><br/></p>
					</div>
					<div class="keywords">
						<p>{{.data.Name}}</p>
					</div>
					<div class="prev_next">
						<div class="prev">上一篇：
							<a href="/">返回列表</a>
						</div>
						<div class="next">下一篇：
							<a href="/article/93.html">js&jq ,json字符串转换json对象 ,json对象转换json字符串</a>
						</div>
						<div class="clear"></div>
					</div>
					<div class="commont_containr">
						<!--【畅言】表情评价-->
						<div id="cyEmoji" role="cylabs" data-use="emoji" sid="1196"></div>
						<!--【畅言】PC和WAP自适应版-->
						<div id="SOHUCS" sid="1196"></div>
					</div>

				</div>
			</div>
			<div class="page_right">
				<div class="second_categorys_container">
					<h3>栏目导航</h3>
					<ol class="seond_category trans_3">
						<li>
							<a href="/article-lists/8.html" class="layui-btn layui-btn-primary trans_1">杂谈</a>
						</li>
						<li>
							<a href="/article-lists/9.html" class="layui-btn layui-btn-primary trans_1">PHP</a>
						</li>
						<li>
							<a href="/article-lists/16.html" class="layui-btn layui-btn-primary trans_1">Python</a>
						</li>
						<li>
							<a href="/article-lists/17.html" class="layui-btn layui-btn-primary trans_1">微信小程序</a>
						</li>
					</ol>
				</div>

				<div class="hot_list">
					<h3>相关文章</h3>
					<ol class="page_right_list trans_3">
						<li>
							<a href="/article/6.html">阻止a标签href默认跳转事件</a><span class="hits"> 4854 ℃ </span></li>
						<li>
							<a href="/article/53.html">CSS控制文字，超出部分显示省略号，多行文本超出显示省略号</a><span class="hits"> 4623 ℃ </span></li>

					</ol>
				</div>
				<div class="mobile_qrcode_container">

				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 底部 结束 -->
		<!-- 文章 结束 -->
		<!-- 底部 开始 -->
		{{template "home/footer.tpl"}}

<script type="text/javascript" src="/resources/layui/layui.all.js?v=1" ></script>
<script type="text/javascript">
	var form, layer, upload, $;
	//实例化layui对象
	form = layui.form;
	layer = layui.layer;
	upload = layui.upload;
	$ = layui.$;

		//左边导航点击显示
		$('.left_nav_btn').click(function() {
			$('.left_nav_mask').show();
			$('.left_nav').addClass('left_nav_show');
		});
		//左边导航点击消失
		$('.left_nav_mask').click(function() {
			$('.left_nav').removeClass('left_nav_show');
			$('.left_nav_mask').hide();
		});

		//搜索框特效
		$('.header .head_search .search_input').focus(function() {
			$('.header .head_search').addClass('focus');
			$(this).attr('placeholder', '输入关键词搜索');
		});
		/*$(document).click(function(){
			$('.header .head_search').removeClass('focus');
			$('.header .head_search .search_input').attr('placeholder','搜索');
		});
		$('.header .head_search').click(function(e){
			$(this).addClass('focus');
			e.stopPropagation();
		});*/
		$('.header .head_search .close').click(function() {
			$('.header .head_search').removeClass('focus');
			$('.header .head_search .search_input').attr('placeholder', '搜索');
		});
		//底部会员头像
		$('#fixbar_avatar').click(function() {
			if($('#fixbar_avatar .fixbar_member_info').is(":visible")) {
				$('#fixbar_avatar .fixbar_member_info').hide().css({
					'opacity': 0,
					'right': '70px'
				});

			} else {
				$('#fixbar_avatar .fixbar_member_info').show().animate({
					'opacity': 1,
					'right': '50px'
				}, 50);
			}
		});
		$('#fixbar_avatar').hover(function() {
			$('#fixbar_avatar .fixbar_member_info').show().animate({
				'opacity': 1,
				'right': '50px'
			}, 50);
		}, function() {
			$('#fixbar_avatar .fixbar_member_info').hide().css({
				'opacity': 0,
				'right': '70px'
			});
		});
		//退出登陆
		$("#fixbar_avatar").on('click', '#logout_btn', function() {
			loading = layer.load(2, {
				shade: [0.2, '#000'] //0.2透明度的白色背景
			});
			$.post('/index/member/logout.html', function(data) {
				if(data.code == 200) {
					layer.close(loading);
					layer.msg(data.msg, {
						icon: 1,
						time: 1000
					}, function() {
						$('#fixbar_avatar').hide()
						//location.reload();//do something
					});
				} else {
					layer.close(loading);
					layer.msg(data.msg, {
						icon: 2,
						anim: 6,
						time: 1000
					});
				}
			});
		});
		//回到顶部
		$("#to_top").click(function() {
			$("html,body").animate({
				scrollTop: 0
			}, 200);
		});
		$(document).scroll(function() {
			var scroll_top = $(document).scrollTop();
			if(scroll_top > 500) {
				$("#to_top").show();
			} else {
				$("#to_top").hide();
			}
		});
		//底部版权始终在底部
		/*var win_height = $(window).height();
		var body_height = $('body').height();
		var footer_height = $('.footer').height();
		if(body_height - win_height < 0){
			$('.footer').addClass('footer_fixed');
		} */
</script>