{{template "home/header.tpl" .}}
		<!-- banner 开始 -->
		<div class="banner" style="background:#393D49">
			<div class="main index_main">
				<img class="banner_pic" src="{{.banner}}" alt="banner">
			</div>
		</div>
		<div class="fill_1"></div>
		<div class="main index_main">
			<ul class="index-learn">
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>业精于勤</legend>
						<p>“业精于勤荒于嬉”，精深的业技靠的是勤学、刻苦努力，靠的是争分夺秒的勤学苦练才会有精深的技术。得在认真，失在随便。</p>
					</fieldset>
				</li>
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>学无止境</legend>
						<p>学习，探索，研究，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识。由浅入深，由表及里。</p>
					</fieldset>
				</li>
				<li>
					<fieldset class="layui-elem-field layui-field-title">
						<legend>技匠精神</legend>
						<p>精益求精，注重细节，追求完美和极致，不惜花费时间精力，孜孜不倦，反复改进产品，把99%提高到99.99%。</p>
					</fieldset>
				</li>
			</ul>
		</div>
		<div class="main index_main lzcms_banner">
			<a href="#" target="_blank"><img src="{{.home_banner}}" alt="banner"></a>
		</div>
		<!-- 文章 开始 -->
		<div class="main index_main">
			<div class="page_left">
				{{/*<ul class="page_left_list" >
					{{range .data}}
					<li class="no_pic">
						<h2 class="title"><a href="/blog/detail?id={{.Id}}">{{.Name}}</a></h2>
						<div class="date_hits">
							<span>{{.CreatedAt}}</span>
							<span><a href="/article-lists/11.html">{{.Name}}</a></span>
							<span class="hits"><i class="layui-icon" title="点击量">&#xe62c;</i>{{.Click}}</span>
							<p class="commonts"><i class="layui-icon" title="点击量">&#xe63a;</i>
								<span id="sourceId::1196" class="cy_cmt_count"></span>
							</p>
						</div>
						<div class="desc">{{.Content}}</div>
					</li>
					{{end}}
				</ul>*/}}
				<ul class="page_left_list" id="data">

				</ul>
				<div id="page" ></div>
			</div>
			<div class="page_right">
				<div class="about_stationmaster_container">
					<h3>博主信息</h3>
					<ol class="page_right_list trans_3">
						<li>姓名：tiefeng</li>
						<li>职业：PHP/GO</li>
						<li>座右铭：不论成功还是失败，都是系于自己。</li>
					</ol>
				</div>
				<div class="new_list">
					<h3>实用小工具</h3>
					<ol class="page_right_list trans_3 index_notice">
						<li>
							<a href="http://www.phplaozhang.com/index/tool/short_url">短网址生成</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/qrcode">二维码生成</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/timestamp">时间戳在线转换</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/md5_sha1">MD5、SHA1在线加密</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/unicode">Unicode编码转换</a>
						</li>
						<li>
							<a href="http://www.phplaozhang.com/index/tool/urlencode_urldecode">urlencode编码/urldecode解码</a>
						</li>
					</ol>
				</div>
				<div class="new_list">
					<h3>温馨通道</h3>
					<ol class="page_right_list trans_3 index_notice">
						<li>
							<a href="http://www.phplaozhang.com/article/29.html">No input file specified的解决方法</a>
						</li>
					</ol>
				</div>
				<a target="_blank" href="http://bingimage.phplaozhang.com/">
					<div class="page_right_list trans_3 bingimage" style="padding:0;position: relative;display: none;">
						<img src="" style="width: 100%;">
						<p style="position: absolute;bottom:0;left:0;right:0;line-height: 24px;background:rgba(0,0,0,0.5);padding:5px 10px;font-size:12px;color:#fff;"></p>
					</div>
				</a>

				<div style="padding:0;background: #fff;">
					<style type="text/css">
						.layui-tab-title .layui-this:after {
							border-color: #009688;
							border-bottom-color: #fff;
						}
						
						.layui-tab-title .layui-this {
							color: #009688;
						}
					</style>

				</div>


				<div class="hot_list">
					<h3>最近热文</h3>
					<ol class="page_right_list trans_3">
						<li>
							<a href="/article/82.html">程序员的自我修养</a><span class="hits"> </span></li>
						<li>
							<a href="/article/23.html">一波程序员表情包</a><span class="hits"> 11080 ℃ </span></li>
						<li>
							<a href="/article/33.html">一波程序员表情包</a><span class="hits"> 8104 ℃ </span></li>
					</ol>
				</div>

				<h3>友情连接</h3>
				<div class="links trans_3">
					<a href="http://daohang.lusongsong.com" target="_blank">博客大全</a>
					<a href="http://www.jb51.net/" target="_blank">脚本之家下载</a>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<!-- 文章 结束 -->
		<script id="cy_cmt_num" src="//changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=cysMsLdOg"></script>
		<!-- 畅言评论数获取js -->
{{template "home/footer.tpl" }}

<script>
	var param = '{$param}';
</script>
<script type="text/javascript" src="/resources/layui/layui.all.js?v=6" ></script>
<script type="text/javascript" src="/resources/jquery-3.3.1/jquery-3.3.1.min.js" ></script>
</body>
</html>
		
<script type="text/javascript">
var form, layer, upload, $;
//实例化layui对象
form = layui.form;
layer = layui.layer;
upload = layui.upload;
$ = layui.$;
//左边导航点击显示
$('.left_nav_btn').click(function() {
$('.left_nav_mask').show();
$('.left_nav').addClass('left_nav_show');
});
//左边导航点击消失
$('.left_nav_mask').click(function() {
$('.left_nav').removeClass('left_nav_show');
$('.left_nav_mask').hide();
});

//搜索框特效
$('.header .head_search .search_input').focus(function() {
$('.header .head_search').addClass('focus');
$(this).attr('placeholder', '输入关键词搜索');
});
/*$(document).click(function(){
$('.header .head_search').removeClass('focus');
$('.header .head_search .search_input').attr('placeholder','搜索');
});
$('.header .head_search').click(function(e){
$(this).addClass('focus');
e.stopPropagation();
});*/
$('.header .head_search .close').click(function() {
$('.header .head_search').removeClass('focus');
$('.header .head_search .search_input').attr('placeholder', '搜索');
});
//底部会员头像
$('#fixbar_avatar').click(function() {
if($('#fixbar_avatar .fixbar_member_info').is(":visible")) {
$('#fixbar_avatar .fixbar_member_info').hide().css({
	'opacity': 0,
	'right': '70px'
});

} else {
$('#fixbar_avatar .fixbar_member_info').show().animate({
	'opacity': 1,
	'right': '50px'
}, 50);
}
});
$('#fixbar_avatar').hover(function() {
$('#fixbar_avatar .fixbar_member_info').show().animate({
'opacity': 1,
'right': '50px'
}, 50);
}, function() {
$('#fixbar_avatar .fixbar_member_info').hide().css({
'opacity': 0,
'right': '70px'
});
});
//退出登陆
$("#fixbar_avatar").on('click', '#logout_btn', function() {
loading = layer.load(2, {
shade: [0.2, '#000'] //0.2透明度的白色背景
});
$.post('/index/member/logout.html', function(data) {
if(data.code == 200) {
	layer.close(loading);
	layer.msg(data.msg, {
		icon: 1,
		time: 1000
	}, function() {
		$('#fixbar_avatar').hide()
		//location.reload();//do something
	});
} else {
	layer.close(loading);
	layer.msg(data.msg, {
		icon: 2,
		anim: 6,
		time: 1000
	});
}
});
});
//回到顶部
$("#to_top").click(function() {
$("html,body").animate({
scrollTop: 0
}, 200);
});
$(document).scroll(function() {
var scroll_top = $(document).scrollTop();
if(scroll_top > 500) {
$("#to_top").show();
} else {
$("#to_top").hide();
}
});
//底部版权始终在底部
/*var win_height = $(window).height();
var body_height = $('body').height();
var footer_height = $('.footer').height();
if(body_height - win_height < 0){
$('.footer').addClass('footer_fixed');
} */

</script>

<script src="/resources/jquery-3.3.1/jquery-3.3.1.js"></script>
<script>
	layui.use(['laypage', 'layer'], function(){
		var laypage = layui.laypage;
		var data = [];
		var nums = 0; //每页出现的数据量
		var limit = 6;
		var count = {{.count}};
		//模拟渲染
		var render = function(data, curr){
			var arr = []
			//thisData = data.concat().splice(curr*nums-nums, nums);
			thisData = data.concat();
			layui.each(thisData, function(index, item){
				arr.push('<li class="no_pic"><h2 class="title">' +
						'<a href="/article/detail?id='+item.id+'">'+item.name+'</a></h2><div class="date_hits"><span>'+item.created_at+'</span><span>' +
						'<a href="/article/detail?id='+item.id+'">'+item.name+'</a></span><span class="hits"><i class="layui-icon" title="点击量">&#xe62c;</i>'+
						item.click+'</span><p class="commonts"><i class="layui-icon" title="点击量">&#xe63a;</i><span id="sourceId::1196" class="cy_cmt_count"></span>'+
						'</p></div><div class="desc"><a href="/article/detail?id='+item.id+'">'+item.content+'</a></div></li>');
				//arr.push('<li>'+ item.name +'</li>');
			});
			return arr.join('');
		};

		//调用分页
		laypage.render({
			elem: 'page'
			,limit:limit
			,count:count
			,pages: Math.ceil(data.length/nums) //得到总页数
			,jump: function(obj){
				var data = [];
				$.ajax({
					url:'article/list'
					,type:"POST"
					,dataType: "json"
					,data:{offset:obj.curr,limit: limit}
					,success: function (r_data) {
						count = r_data.data.count
						data = r_data.data.items
						document.getElementById('data').innerHTML = render(data, obj.curr);
					}
				})

			}
		});
	});

</script>
