/* 搴曢儴 */
.fixed_bar{width:36px;position: fixed;z-index: 999;right: 10px;bottom: 40px;}
.fixed_bar li{width:36px;height: 36px;background-image: url(../images/fixed_bar_icon.png);position: relative;cursor: pointer;}
.fixed_bar li:hover p{opacity: 1}

.fixed_bar .to_top{background-color: #009688;background-position: 0px 0px;display: none;}
.fixed_bar .to_top p{width:28px;height: 28px;padding:4px;line-height: 14px;color:#fff;font-size:12px;text-align: center;opacity: 0;background-color: #009688}
.fixed_bar .search{background-color: #009688;background-position: 0px -72px;}
.fixed_bar .search p{width:28px;height: 28px;padding:4px;line-height: 14px;color:#fff;font-size:12px;text-align: center;opacity: 0;background-color: #009688}

.footer{background: #313131;}
.footer .copy{border-top: 1px solid #3f3f3f;padding:20px 0;line-height: 22px;font-size:12px;color:#9fa2a4;text-align: center;}
.footer .copy a{color:#9fa2a4;}
.footer .copy a:hover{color:#eee;transition: all 0.1s linear;}

/*棣栭〉*/
.index_page{position: fixed;top:0;left:0;width:100%;height: 100%;}
.index_page .block{float: left;height: 100%;background-repeat: no-repeat;background-size: cover;background-position: center;position: relative;}
.index_page .block .block_mask{position: absolute;z-index: 10;width:100%;height: 100%;top:0;left: 0;background: rgba(0,0,0,0.6);}
.index_page .block h2{position: absolute;z-index:11;top:0;right:0;bottom:0;left:0;margin:auto;color:#fff;height: 100%;text-align: center;font-size: 20px;line-height: 32px;height: 64px;}
.index_page .block:hover .block_mask{background: rgba(0,0,0,0.3);}
.index_page .block:hover h2{opacity: 0.5}




.image_list_container{}
.image_list_container li{float: left;width:33.333%;position: relative;cursor: pointer;}
.image_list_container li .li{width:100%;height: 0;padding:28% 0;position: relative;display: block;}
.image_list_container li .pic{display: block;width:100%;position: absolute;top:0;left:0;bottom:0;right: 0;margin:auto;}
.image_list_container li .pic img{width:100%;}
.image_list_container li .pic .not_loaded{filter: blur(30px)}
.image_list_container li .mask{position: absolute;top:0;left:0;width:100%;height: 100%;background: rgba(0,0,0,0.2);z-index: 5;opacity: 0;}
.image_list_container li:hover .mask{opacity: 1}
.image_list_container li .title{line-height: 24px;font-size: 14px;color:#fff;padding:5px;z-index:6 ;}
.image_list_container li .date{line-height: 24px;font-size: 12px;color:#fff;padding:0 5px;z-index:6 ;background: url(../images/date_icon.png) no-repeat 5px center;padding-left: 25px;background-size: 16px;}
.image_list_container li .hits{line-height: 24px;font-size: 12px;color:#fff;padding:0 5px;z-index:6 ;background: url(../images/hits_icon.png) no-repeat 4px center;padding-left: 25px;background-size: 18px;}
.image_list_container li .download_btn{position: absolute;right:10px;bottom:10px;z-index:10;border-radius:5px;height: 30px;line-height: 30px;color:#009688;padding-left: 35px;padding-right: 15px;background-color: #fff;opacity: 0.6}
.image_list_container li .download_btn .icon{background-image: url(../images/download_icon.png);background-repeat: no-repeat;background-position: center;position: absolute;height: 30px;width:30px;left:5px;top:0;background-size: 18px;}
.image_list_container li .download_btn:hover{opacity: 1}
.image_list_container li .detail{position: absolute;width:100%;top:0;bottom:40px;z-index: 9}
.index_more{width:0;height: 0;}
.more_loading_gif{color:#666;border-radius: 30px;height: 30px;line-height: 30px;position: fixed;left:0;right:0;bottom:-50px;z-index: 50;margin:auto;background: #fff;width:100px;padding-left: 40px;overflow: hidden;font-size: 12px;opacity: 0.8;box-shadow: 0px 0px 10px -5px #000;}
.more_loading_gif_show{bottom: 50px}
.more_loading_gif .icon{background: url(../images/more.gif) no-repeat left center;background-size: 20px;width:30px;height: 30px;position: absolute;left:10px;top:0;}

.index_search_container{position: relative;display: none;}
.index_search_container #date{width:100%;height: 40px;padding:0 10px;border:none;box-sizing: border-box;}
.index_search_container .search_icon{position: absolute;top:0;right:0;width:40px;height: 40px;line-height: 40px;text-align: center;font-size: 16px;cursor: pointer;}
.search_tips{color:#009688;border-radius: 30px;height: 30px;line-height: 30px;position: fixed;left:0;right:0;top:20px;z-index: 50;margin:auto;background: #fff;width:280px;text-align: center;overflow: hidden;font-size: 12px;opacity: 0.8;box-shadow: 0px 0px 10px -5px #000;}
.search_tips a{text-decoration:underline;margin-left: 10px;color:#009688;}

.image_detail_page{position: absolute;width:100%;height: 100%;left:0;top:0;background-size: cover;background-repeat: no-repeat;background-position: center;}
.not_loaded{filter: blur(30px)}
.image_detail_page .back_btn{position: absolute;top:10px;left:20px;padding-left: 30px;padding-right: 15px;font-size: 14px;color:#009688;background-color: #fff;border-radius: 5px;height: 30px;line-height: 30px;opacity: 0.6}
.image_detail_page .back_btn .icon{position: absolute;top:0;left:0px;width: 30px;height: 30px;background: url(../images/back_icon.png) no-repeat center;background-size: 15px;}
.image_detail_page .back_btn:hover{opacity: 1}

.image_detail_page .download_btn{position: absolute;right:20px;top:10px;padding-left: 30px;padding-right: 15px;font-size: 14px;color:#009688;background-color: #fff;border-radius: 5px;height: 30px;line-height: 30px;opacity: 0.6}
.image_detail_page .download_btn .icon{position: absolute;top:0;left:0px;width: 30px;height: 30px;background: url(../images/download_icon.png) no-repeat center;background-size: 15px;}
.image_detail_page .download_btn:hover{opacity: 1}

.image_detail_page .detail{position: absolute;width:100%;bottom:0;background: rgba(0,0,0,0.4);color:#fff;padding: 10px 0;cursor: pointer;}
.image_detail_page .detail h1{font-weight: normal;font-size: 16px;line-height: 30px;padding:0 10px;}
.image_detail_page .detail .date{line-height: 24px;font-size: 12px;color:#fff;padding:0 10px;z-index:6 ;background: url(../images/date_icon.png) no-repeat 10px center;padding-left: 35px;background-size: 16px;}
.image_detail_page .detail .hits{line-height: 24px;font-size: 12px;color:#fff;padding:0 10px;z-index:6 ;background: url(../images/hits_icon.png) no-repeat 9px center;padding-left: 35px;background-size: 18px;}
.image_detail_page .detail .detail_content_container{font-size: 14px;line-height: 24px;height: 0;overflow: hidden;padding:0 10px;}
.image_detail_page .left_btn{position: absolute;left:20px;top:0;bottom:0;margin: auto;width:80px;height:50px;background: url(../images/left_icon.png) no-repeat center;background-size:auto 50px;z-index: 10 ;opacity: 0.5;}
.image_detail_page .right_btn{position: absolute;right:20px;top:0;bottom:0;margin: auto;width:80px;height:50px;background: url(../images/right_icon.png) no-repeat center;background-size:auto 50px;z-index: 10 ;opacity: 0.5;}
.image_detail_page .left_btn:hover{opacity: 1;}
.image_detail_page .right_btn:hover{opacity: 1;}
.image_detail_page_load .more_loading_gif_show{left:0;right: 0;top:0;bottom:0;margin:auto;}
@media screen and (max-width:1000px) {
.image_list_container li{float: left;width:50%;position: relative;}
}
